<% title "About Page", false %>


<div class="container">
  <div class="row">
    <div class="col">
      <img class="img-thumbnail rounded" src="/assets/Chad.jpg" alt="Chad's picture">
    </div>
    <div class="col">
        <h1>About Me</h1>
        <p class="sansserif">Hi, I am Chad. I am from Taiwan, <br>
            and I am a student at Brigham Young University - Hawaii. <br>
            My major is Computer Science. My minors are economics and film. <br>
            I am a junior student, and I am about to graduate in Winter 2021. <br>
            I love photography. I worked as a photographer in Ke Alaka'i (school newspaper). <br>
            But I don't work right now since I am currently in Taiwan. <br>
            I like exercises like table tennis, workout, and swimming. <br>
        </p>
    </div>
  </div>
</div>