<% title "Photo" %>

<p></p>
<%= render @photo %>

<%= link_to "Edit", edit_photo_path(@photo) %> |
<%= link_to "Delete", @photo, method: :delete, data: {confirm: "Are you sure"} %> |
<%= link_to "All Photos", photos_path %>